
<div class="thumbnail"><a ng-href="{{company.homepage}}"><img src="{{logo}}"/></a>
  <div class="caption">
    <h3>{{company.name}}</h3>
    <p>{{company.description}}</p>
  </div>
  <h1>movies</h1>
  <div class="row">
    <div masonry="masonry">
      <div ng-repeat="movie in movies" class="masonry-brick thumbnail"><a href="#/movie/{{movie.id}}"><img ng-src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w342/{{ movie.poster_path }}" alt="..."/></a>
        <div class="caption">
          <h5>{{movie.title}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>