.thumbnail
  a(ng-href="{{company.homepage}}")
    img(src="{{logo}}")
  .caption
    h3 {{company.name}}
    p {{company.description}}
h1 movies
div(masonry)
  .masonry-brick(ng-repeat="movie in movies")
    a(href="#/movie/{{movie.id}}")
      img(ng-src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w342/{{ movie.poster_path }}", alt="...")
    // .caption
      h5 {{movie.title}}
