.thumbnail
  a(ng-href="{{company.homepage}}")
    img(src="{{logo}}")
  .caption
    h3 {{company.name}}
    p {{company.description}}
  h1 movies
  .row
    div(masonry)
      .masonry-brick.thumbnail(ng-repeat="movie in movies")
        a(href="#/movie/{{movie.id}}")
          img(ng-src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w342/{{ movie.poster_path }}", alt="...")
        .caption
          h5 {{movie.title}}
