h2 Offers from Amazon
.col-lg-5.col-lg-4.repeat-item(ng-repeat="dvd in dvds")
  .thumbnail
    a(href="{{dvd.DetailPageURL[0]}}")
      img(src="{{dvd.MediumImage[0].URL[0]}}")
      .caption
        h3 {{dvd.ItemAttributes[0].Title[0]}}
        p price - {{dvd.OfferSummary[0].LowestNewPrice[0].FormattedPrice[0]}}
