
<div class="container">
  <div class="jumbotron">
    <div class="page-header">
      <h2>Login</h2>
    </div>
    <div id="messages" ng-show="errorMessage" ng-class="{'alert-danger': errorMessage}" class="alert">{{ errorMessage }}</div>
    <form ng-submit="processForm()">
      <div id="email-group" ng-class="{ 'has-error' : errorEmail }" class="form-group">
        <input type="text" name="email" placeholder="Email" ng-model="email" class="form-control"/><span ng-show="errorEmail" class="help-block">{{ errorEmail }}</span>
      </div>
      <div id="password-group" ng-class="{ 'has-error' : errorPassword, 'has-success' : validationSuccessful }" class="form-group">
        <input type="text" name="password" placeholder="Password" ng-model="password" class="form-control"/><span ng-show="errorPassword" class="help-block">{{ errorPassword }}</span>
      </div>
      <button type="submit" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-flash">Login!</span></button>
    </form>
  </div>
</div>