input.form-control(type="text", ng-model="search")
br

.row(infinite-scroll="loadMore()")
  #container.js-masonry(data-masonry-options='{ "itemSelector": ".repeat-item" }')
    .col-lg-5.col-lg-4.repeat-item(ng-repeat="movie in movies | filter : { title : search }")
      .thumbnail
        img(ng-src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w342/{{ movie.poster_path }}", alt="...")
        .caption
          h3 {{movie.title}}
          p
          p
            a.btn.btn-primary(href="#/movie/{{movie.id}}", role="button") info
            a.btn.btn-default(href="#", role="button") add
