
<div class="thumbnail"><img src="{{poster}}"/>
  <div class="caption">
    <h3>{{movie.title}}</h3>
    <p>{{movie.overview}}</p>
    <h4>genres:</h4>
    <ul>
      <li ng-repeat="genre in movie.genres">{{genre.name}}</li>
    </ul>
    <p><a href="#/dvds/{{movie.title}}" role="button" class="btn btn-primary">Order dvd</a><a href="#/itunes/{{movie.title}}" role="button" class="btn btn-primary">Buy on itunes</a></p>
  </div>
  <iframe width="560" height="315" ng-src="{{trailerURL}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>