input.form-control(type="text", ng-model="search")
br

.btn-group.btn-group-lg
  button.btn.btn-default(type="button", ng-click="setSize(1)", ng-class="{active: isActive(1)}") tiny
  button.btn.btn-default(type="button", ng-click="setSize(2)", ng-class="{active: isActive(2)}") small
  button.btn.btn-default(type="button", ng-click="setSize(3)", ng-class="{active: isActive(3)}") medium
  button.btn.btn-default(type="button", ng-click="setSize(4)", ng-class="{active: isActive(4)}") large
  button.btn.btn-default(type="button", ng-click="setSize(5)", ng-class="{active: isActive(5)}") very large

br
br

div(infinite-scroll="loadMore()", masonry="{ transitionDuration: '1s' }")
  .masonry-brick(ng-repeat="movie in movies | filter : { title : search }")
    a(href="#/movie/{{movie.id}}")
      img(ng-src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/{{imageSize}}/{{ movie.poster_path }}", alt="...")
    // .caption
      h5 {{movie.title}}
