
<div class="jumbotron"><img ng-src="http://www.gravatar.com/avatar/{{user.email | gravatar}}?s=300&amp;d=mm" height="300" width="300"/>
  <h1>{{user.name}}</h1>
  <p>email - {{user.email}}</p>
  <p>password - {{user.password}}</p>
  <button ng-click="logIn()" class="btn btn-large btn-info">login</button><span> </span>
  <button ng-click="deleteUser()" class="btn btn-large btn-danger">delete</button><br/><br/>
  <h3>Lists</h3>
  <ul class="list-group">
    <li ng-repeat="list in user.lists" class="list-group-item">{{list.title}}
      <ul class="list-group">
        <li ng-repeat="movieId in list.movies" class="list-group-item"><a ng-href="#/movie/{{movieId}}">{{movieId}}</a></li>
      </ul>
    </li>
  </ul>
</div>