.jumbotron
  img(ng-src="http://www.gravatar.com/avatar/{{user.email | gravatar}}?s=300", height="300", width="300")
  h1 {{user.name}}
  p email - {{user.email}}
  p password - {{user.password}}
  button.btn.btn-large.btn-info edit
  span 
  button.btn.btn-large.btn-danger(ng-click="deleteUser()") delete
