.jumbotron
  img(ng-src="http://www.gravatar.com/avatar/{{user.email | gravatar}}?s=300&d=mm", height="300", width="300")
  h1 {{user.name}}
  p email - {{user.email}}
  p password - {{user.password}}
  button.btn.btn-large.btn-info(ng-click="logIn()") login
  span 
  button.btn.btn-large.btn-danger(ng-click="deleteUser()") delete
  br
  br
  h3 Lists
  ul.list-group
    li.list-group-item(ng-repeat="list in user.lists"){{list.title}}
      ul.list-group
        li.list-group-item(ng-repeat="movieId in list.movies"){{movieId}}
