h1 Watchlist Users

label.control-label(for="search") search
input#search.form-control(type="text", ng-model="search")
br

ul.list-group
  li.list-group-item.repeat-item(ng-repeat='user in users | filter : search')
    img(ng-src="http://www.gravatar.com/avatar/{{user.email | gravatar}}?s=70&d=mm", height="70", width="70")
    a(href="#profile/{{user.id}}"){{user.name}} - {{user.email}}
